/*beginning of CSS file*/

body {
	background-color: lightgrey;
}

/* page elements will be within the margin and centered */

header{
	float: center;
}

aside{
	float: left;
}

article{
	float: center:
}
