/*beginning of CSS file*/

body {
	background-color: lightgrey;
}

/* page elements will be within the margin and centered */

header{
	float: center;
}

aside{
	float: left;
}

h2 {
	float: center;
}

h3 {
	float: center;
}

h4 {
	float: center;
}

p {
	float: center;
}
