/*beginning of CSS file*/
body {
 background-color: whitesmoke; width: 70%; margin: 0 auto;
}

header {
 text-align: center; 
}  

img {
 float: left; width: 20%;
}

article {
 float: right; text-align: center; width: 79%
}

.england {
 clear: both;
}

.france {
 clear: both;
}

.germany {
 clear:both;
}

.italy {
 clear: both;
}

.spain {
 clear: both;
}
